<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
</head>
<body>
  <div id="app">{{msg}}</div>
  <script type="x-template" id="template">
    <div>
      <slot name="header"></slot>
      <!--     -->
      <slot v-bind:mc="mc" name="body"></slot>
      <slot name="footer"></slot>
    </div>
  </script>
  
  <script>
  Vue.component('my-component', {
    created () {
      console.log(this)
    },
    data: function () {
      return {
        mc: ['mco']
      }
    },
    template: '#template'
  })
  new Vue({
    el: '#app',
    // data () {
    //   return {
    //     msg: 'msg' 
    //   }
    // },
    data: {
      msg: 'mmmmm',
      slotName: ['header', 'body', 'footer']
    },
    created: function () {
      console.log(this)
    },
    template: `
      <div>
        <my-component>
          <template v-slot:header>
          <div>header</div>
          </template>
          <template v-slot:body="{mc: de}">
            <div>
              <div>body</div>
              <div>M: {{de}}</div>
            </div>
            {{de}}
          </template>
          <template v-slot:footer>
            <div>footer</div>
          </template>
        </my-component>
        <my-component>
            <template v-for="item in slotName" v-slot:[item]="{mc}">
            <div>
              <div>{{item}}</div>
              <div v-if="mc">M2: {{mc}}</div>
            </div>
          </template>
        </my-component>
      </div>
    `
  })
  </script>
</body>
</html>